@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* fontes utilizadas (google fonts) */
:root { /* para criar variáveis no css */
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --font-montserrat: 'Montserrat', 'sans-serif';
    --font-krona: "Krona One", sans-serif;
}

* { /* para modificar yodos os elementos */
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; para o body utilizar toda a tela (vh = viewport height) */
    box-sizing: border-box; /* controla dimensões, evitando que conteúdo saia do elemento pai (padding e borda incluídos) */
    background-color: var(--cor-primaria); /* para a cor do fundo da página */
    color: var(--cor-secundaria); /* para a cor do texto */
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-link {
    font-family: var(--font-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho-link:hover {
    color: var(--cor-secundaria);
}

strong { /* para alterar o destaque strong */
    color: var(--cor-terciaria);
/*  border: 1px solid #22D4FD;  Borda com 1 px de largura, do tipo sólida e cor da borda azul
    padding: 10px; Espaçamento interno de 10px */
}

h1 { /* para alterar o h1 */
    font-weight: bold; /*deixa o texto em negrito */
}

span { /* para alterar o destaque em texto */
    color: var(--cor-terciaria);
}

.titulo-destaque { /* para personalizar classes */
    color: var(--cor-terciaria)
}

.apresentacao {
    padding: 4% 15%; /* vertical e horizontal */
    display: flex; /* ferramenta que dimensiona os elementos do site */
    align-items: center; /* alinhamento dos itens (neste caso segue a imagem pois eles usam como referência os elementos entre si */
    justify-content: space-between; /* para justificar o conteúdo (dando espaço entre eles, nesse caso) */
    gap: 82px;
}

.apresentacao-conteudo {
    display: flex;
    flex-direction: column; /* alinhar em coluna */
    gap: 40px; /* criar vão entre os elementos */
    width: 50%; /* definir largura */
}

.apresentacao-imagem {
    width: 50%;
}

.apresentacao-conteudo h1 {
    text-align: justify;
    font-size: 2.25rem; /* definir tamanho da fonte */
    font-family: var(--font-krona);
}

.apresentacao-conteudo p {
    font-size: 1.5rem;
    font-family: var(--font-montserrat);
    text-align: justify; /* para mudar o alinhamento do texto */
}

.apresentacao-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao-links-subtitulo {
    font-family: var(--font-krona);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao-links-botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 26px;
    width: 50%;
    text-align: center;
    border-radius: 8px; /* criar arredondamento na borda */
    font-size: 1.5rem;
    padding: 21.5px 0; /* criar espaço da borda até o conteúdo (primeiro valor vertical, segundo é horizontal)*/
    text-decoration: none; /* tirar a linha dos links */
    color:var(--cor-secundaria);
    font-family: var(--font-montserrat);
    font-weight: 600;
    border: 3px solid var(--cor-terciaria);
}
.apresentacao-links-botoes:hover { /* para dar destaque quando o cursor passa */
    background-color: var(--cor-hover);
}
.rodape {
    padding: 23.64px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) { /* para definir mudanças no código a partir de tal tamanho */
    .cabecalho {
        padding: 10%;
    }
    .cabecalho-menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse; /* para reverter as ordens */
        padding: 5%;
    }
    .apresentacao-conteudo {
        width: auto; /* ou 100% / ajusta ao espaço disponível */
    }
}